{% extends "blogapp/base.html" %}
{% block title_block %}
	Share Post by Mail
{% endblock title_block %}

{% block content_block %}
	{% if sent %}
		<h1>Email sent successfully</h1>
		<h2>Post with title :{{ post.title }} shared by email</h2>
		
	{% else %}
		<h1>Share Post with Title : {{ post.title }} by mail</h1>
		<form method="POST">
		{{ form.as_p }}
		{% csrf_token %}
		<input type="submit" name="Send Mail" class="btn btn-primary btn-lg" values="Send Mail">
		</form>
		
	{% endif %}

{% endblock content_block %}